<h1 class="title">
  <%= @post.title%>
</h1>

<p class="date">
  Submited <%= time_ago_in_words(@post.created_at) %> ago
  <%= link_to "Edit", edit_post_path(@post)%> |
  <%= button_to("Delete", post_path, class: "btn btn-link", form: { data: { turbo_confirm: "Are you sure?" } },  method: :delete ) %>
</p>

<p class="body">
  <%= @post.body%>
</p>

<%= link_to "All Post", root_path%>